<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/styles.css">

  <title>
    {{ page.title }}
  </title>
</head>

<body>

  <div class="content">
    <header class="content-header">
      <h3 class="content-header-title">
        <a href="{{ site.baseurl }}" title="Home">
          {{ site.title }}
        </a>
      </h3>
    </header>

    <main class="content-main">
      {{{ page.content }}}
    </main>

    <footer class="content-footer">
      &copy; All rights reserved.
    </footer>
  </div>
</body>

</html>
